<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/common.css"> -->
    <style>
        img {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px 0;
        }
        .error {
            width: 600px;
            margin: 100px auto;
            font-size: 22px;
            line-height: 28px;
            color: rgb(51, 51, 51);
        }
    </style>
</head>
<body>
    <div class="error">
        <img src="/img/errorMsg.png" alt="">
        <span>操作失败：<%=msg%></span>
    </div>
</body>
</html>